python-telegram-bot==20.3
schedule
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
oauth2client
beautifulsoup4
requests
selenium
pandas
openpyxl
matplotlib
aiohttp==3.9.3
aiolimiter==1.1.0
fake-useragent==1.5.1
lxml==5.2.1
tenacity==8.2.3
